<mat-toolbar color="primary">

  <mat-icon routerLink="/" class="material-icons-outlined">movie</mat-icon>
  <span routerLink="/">Moviebase</span>

  <span class="nav-spacer"></span>

  <button mat-mini-fab color="primary" class="mat-elevation-z0" (click)="onSearchClick()">
    <mat-icon *ngIf="!showSearch">search</mat-icon>
    <mat-icon *ngIf="showSearch">close</mat-icon>
  </button>
  <button mat-button><h1>Login</h1></button>
</mat-toolbar>

<!-- Search Bar -->
<div class="ui container search mat-elevation-z4" *ngIf="showSearch">
  <app-search-bar></app-search-bar>
</div>
